/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* body {
  display: grid;
  justify-content: center;
 } */

 .exhibit-content {
  width: max-content;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;
}

.left-panel {
  width: 250px;
}

.right-panel {
  width: max-content;
  display: grid;
  justify-items: center;
  /* TEMPORARY */
  margin-right: 200px;
}

.image-size h2 {
  justify-self: center;
  font-size: 20px;
  margin: 30px 0 10px 0;
}

.characters {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.characters div {
  height: 100px;
}

.characters img {
  height: 100%;
}

.characters div i {
  filter: invert(58%) sepia(84%) saturate(537%) hue-rotate(82deg) brightness(93%) contrast(93%);
  position: relative;
  bottom: 70px;
  left: 5px;
  visibility: hidden; 
}

.characters div i.show {
  visibility: visible;
}

.image-grid-container img {
  width: 1000px;
  height: 630px;
  position: absolute;
  z-index: -10;
}

#timer {
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  display: flex;
}