/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Roboto Mono', monospace;
}

/* Exhibits#index */

.index-container {
  display: grid;
  justify-items: center;
  gap: 30px;
}

.index-container h1 {
  margin: 30px 0 0 0;
  font-size: 26px;
}

.index-container a {
  width: 40vh;
}

.info {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: inherit;
  padding: 10px;
  visibility: hidden;
}

.info p {
  font-size: 20px;
  margin: 10px;
}

.info.show {
  visibility: visible;
}

.index-container img {
  width: 100%;
  border-radius: 10px;
}


/* Exhibits#show  */

body {
  margin: 20px;
  background: #f7f7f7;
}

.page-content {
  width: max-content;
  margin: 0 auto;
}

 .exhibit-content {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 160px 1fr;
}

.top-panel {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background: #e6f5fb;
  padding: 20px;
  border-radius: 8px;
}

nav {
  padding-right: 10px;
}

#image-size h2 {
  font-size: 16px;
  margin: 0;
  display: inline-block;
  /* margin: 20px 0 10px 0; */
}

#image-size p {
  font-size: 14px;
  margin: 0;
  padding-left: 20px;
  display: inline-block;
}

.size-options {
  padding-top: 10px;
  display: flex;
  gap: 30px;
}

.characters {
  width: max-content;
  align-self: center;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  justify-self: end;
  justify-items: end;
  margin-top: 50px;
}

.characters div {
  display: grid;
  grid-template-columns: 1fr 50px;
  justify-items: end;
  align-items: center;
  height: 100px;
}

.characters div p {
  height: min-content;
  margin: 0;
  padding-right: 10px;
}

.characters img {
  height: 100%;
}

.characters div i {
  filter: invert(58%) sepia(84%) saturate(537%) hue-rotate(82deg) brightness(93%) contrast(93%);
  position: relative;
  bottom: 70px;
  left: 5px;
  visibility: hidden; 
}

.characters div i.show {
  visibility: visible;
}

.right-panel {
  width: max-content;
  display: grid;
  justify-items: center;
}

.right-panel h1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.image-grid-container img {
  width: 1000px;
  height: 630px;
  position: absolute;
  z-index: -10;
}

.score-panel {
  padding-left: 20px;
  grid-row-start: 1;
  grid-column-start: 1;
  justify-self: start;
}

.score-msg {
  font-size: 20px;
  height: min-content;
  padding-left: 20px;
  align-self: center;
}

#timer {
  font-size: 32px;
  font-family: 'Roboto Mono', monospace;
  display: flex;
}